html{
    background: black;
}
.wl{
    font-size: 50px;
    color: bisque;

}
.mr-img1{
    width: 240px;
    height: 360px;
}
.mr-img2{
    width: 240px;
    height: 360px;
}
.mr-img3{
    width: 240px;
    height: 360px;
}
.mr-img4{
    width: 240px;
    height: 360px;
}
p{
    color: rgb(255, 255, 255);
    font-size: 40px;
}

/* 设置超链接 */
.a1{
    color:bisque;
    font-size: 40px;
}